<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- ... Vos autres éléments ... -->

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" [@colorChange]="currentStates['connecter']" (click)="toggleState('connecter')">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">
                    Se connecter
                </a>
            </li>
            <li class="nav-item active" [@colorChange]="currentStates['home']" (click)="toggleState('home')">
                <a class="nav-link" routerLink="/pastries" href="#">
                    Home
                </a>
            </li>
            <li *ngIf="authService.isLoggedIn()" class="nav-item" [@colorChange]="currentStates['deconnecter']"
                (click)="toggleState('deconnecter')">
                <a class="nav-link" (click)="logout()" routerLinkActive="active">
                    Se déconnecter
                </a>
            </li>
        </ul>

        <!-- ... Vos autres éléments ... -->
    </nav>

</div><!-- .pastrie -->
<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
    </nav>
    <div *ngIf="authService.isLoggedIn()">
        <app-dashboard></app-dashboard>
    </div>
    <router-outlet></router-outlet>
</div>